<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>
    <plugins>
        <plugin interceptor="priv.cxs.springboot2.dao.config.mysql.TestPlugin">
            <property name="key1" value="value1"/>
            <property name="key2" value="value2"/>
        </plugin>
    </plugins>
</configuration>